version: '3.8'

services:
  flask-app:
    image: jang99u/lostfound-flask:latest
    container_name: flask-app
    ports:
      - "5001:5001"
    gpus: all
    environment:
      CAPTION_MODEL_ID: "Qwen/Qwen2.5-VL-1.8B-Instruct"
      EMBEDDING_MODEL_NAME: "BAAI/bge-m3"
      EMBEDDING_DIMENSION: "1024"
      FAISS_STORAGE_DIR: "/app/faiss-data"
    volumes:
      - ./faiss-data:/app/faiss-data
    networks:
      - backend

  spring-app:
    image: jang99u/lostfound-spring:latest
    container_name: spring-app
    depends_on:
      - flask-app
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:
